.p {
  &-0 {
    padding: 0 !important;
  }

  &-10 {
    padding: 10px;
  }

  &-10l {
    padding-left: 10px;
  }

  &-10r {
    padding-right: 10px;
  }

  &-10t {
    padding-top: 10px;
  }

  &-10b {
    padding-bottom: 10px;
  }

  &-10lr {
    padding: 0 10px;
  }

  &-10tb {
    padding: 10px 0;
  }

  &-20 {
    padding: 20px;
  }

  &-20l {
    padding-left: 20px;
  }

  &-20r {
    padding-right: 20px;
  }

  &-20t {
    padding-top: 20px;
  }

  &-20b {
    padding-bottom: 20px;
  }

  &-20lr {
    padding: 0 20px;
  }

  &-20tb {
    padding: 20px 0;
  }

  &-30 {
    padding: 30px;
  }

  &-30l {
    padding-left: 30px;
  }

  &-30r {
    padding-right: 30px;
  }

  &-30t {
    padding-top: 30px;
  }

  &-30b {
    padding-bottom: 30px;
  }

  &-30lr {
    padding: 0 30px;
  }

  &-30tb {
    padding: 30px 0;
  }
}

.m {
  &-0 {
    margin: 0 !important;
  }

  &-10 {
    margin: 10px;
  }

  &-10l {
    margin-left: 10px;
  }

  &-10r {
    margin-right: 10px;
  }

  &-10t {
    margin-top: 10px;
  }

  &-10b {
    margin-bottom: 10px;
  }

  &-10lr {
    margin: 0 10px;
  }

  &-10tb {
    margin: 10px 0;
  }

  &-20 {
    margin: 20px;
  }

  &-20l {
    margin-left: 20px;
  }

  &-20r {
    margin-right: 20px;
  }

  &-20t {
    margin-top: 20px;
  }

  &-20b {
    margin-bottom: 20px;
  }

  &-20lr {
    margin: 0 20px;
  }

  &-20tb {
    margin: 20px 0;
  }

  &-30 {
    margin: 30px;
  }

  &-30l {
    margin-left: 30px;
  }

  &-30r {
    margin-right: 30px;
  }

  &-30t {
    margin-top: 30px;
  }

  &-30b {
    margin-bottom: 30px;
  }

  &-30lr {
    margin: 0 30px;
  }

  &-30tb {
    margin: 30px 0;
  }
}
